Import libraries

In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf

# Part 1 - Data Preprocessing

In [3]:
dataset= pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [12]:
X = dataset.iloc[:, 3:-1].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [13]:
y = dataset.iloc[:, -1].values
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [14]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [16]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [17]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [18]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [28]:
X[:5]

array([[1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [0.0, 0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [1.0, 0.0, 0.0, 502, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [1.0, 0.0, 0.0, 699, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [0.0, 0.0, 1.0, 850, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1]],
      dtype=object)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [31]:
X_test = sc.transform(X_test)
X_test

array([[-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  0.49587037],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  1.61255917]])

# Part 2 - Building the ANN

In [32]:
ann = tf.keras.models.Sequential()

In [33]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [34]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [35]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Part 3 - Training the ANN

In [36]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [37]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 60)

Epoch 1/60
250/250 [==============================] - 1s 697us/step - loss: 0.6765 - accuracy: 0.6250
Epoch 2/60
250/250 [==============================] - 0s 685us/step - loss: 0.5358 - accuracy: 0.7959
Epoch 3/60
250/250 [==============================] - 0s 697us/step - loss: 0.4898 - accuracy: 0.7960
Epoch 4/60
250/250 [==============================] - 0s 721us/step - loss: 0.4639 - accuracy: 0.7984
Epoch 5/60
250/250 [==============================] - 0s 693us/step - loss: 0.4456 - accuracy: 0.8069
Epoch 6/60
250/250 [==============================] - 0s 717us/step - loss: 0.4345 - accuracy: 0.8090
Epoch 7/60
250/250 [==============================] - 0s 877us/step - loss: 0.4270 - accuracy: 0.8120
Epoch 8/60
250/250 [==============================] - 0s 685us/step - loss: 0.4211 - accuracy: 0.8149
Epoch 9/60
250/250 [==============================] - 0s 681us/step - loss: 0.4162 - accuracy: 0.8134
Epoch 10/60
250/250 [==============================] - 0s 693us/step - loss: 0.4120 - accuracy: 0.8175
Epoch 11/60
250/250 [==============================] - 0s 685us/step - loss: 0.4079 - accuracy: 0.8209
Epoch 12/60
250/250 [==============================] - 0s 705us/step - loss: 0.4028 - accuracy: 0.8225
Epoch 13/60
250/250 [==============================] - 0s 705us/step - loss: 0.3967 - accuracy: 0.8292
Epoch 14/60
250/250 [==============================] - 0s 865us/step - loss: 0.3885 - accuracy: 0.8370
Epoch 15/60
250/250 [==============================] - 0s 693us/step - loss: 0.3800 - accuracy: 0.8386
Epoch 16/60
250/250 [==============================] - 0s 693us/step - loss: 0.3721 - accuracy: 0.8451
Epoch 17/60
250/250 [==============================] - 0s 681us/step - loss: 0.3656 - accuracy: 0.8479
Epoch 18/60
250/250 [==============================] - 0s 701us/step - loss: 0.3607 - accuracy: 0.8494
Epoch 19/60
250/250 [==============================] - 0s 685us/step - loss: 0.3569 - accuracy: 0.8512
Epoch 20/60
250/250 [==============================] - 0s 697us/step - loss: 0.3542 - accuracy: 0.8551
Epoch 21/60
250/250 [==============================] - 0s 685us/step - loss: 0.3524 - accuracy: 0.8555
Epoch 22/60
250/250 [==============================] - 0s 721us/step - loss: 0.3507 - accuracy: 0.8553
Epoch 23/60
250/250 [==============================] - 0s 873us/step - loss: 0.3493 - accuracy: 0.8556
Epoch 24/60
250/250 [==============================] - 0s 697us/step - loss: 0.3484 - accuracy: 0.8570
Epoch 25/60
250/250 [==============================] - 0s 685us/step - loss: 0.3475 - accuracy: 0.8586
Epoch 26/60
250/250 [==============================] - 0s 709us/step - loss: 0.3465 - accuracy: 0.8597
Epoch 27/60
250/250 [==============================] - 0s 701us/step - loss: 0.3453 - accuracy: 0.8597
Epoch 28/60
250/250 [==============================] - 0s 801us/step - loss: 0.3451 - accuracy: 0.8600
Epoch 29/60
250/250 [==============================] - 0s 777us/step - loss: 0.3443 - accuracy: 0.8599
Epoch 30/60
250/250 [==============================] - 0s 677us/step - loss: 0.3433 - accuracy: 0.8615
Epoch 31/60
250/250 [==============================] - 0s 681us/step - loss: 0.3435 - accuracy: 0.8604
Epoch 32/60
250/250 [==============================] - 0s 685us/step - loss: 0.3425 - accuracy: 0.8610
Epoch 33/60
250/250 [==============================] - 0s 689us/step - loss: 0.3424 - accuracy: 0.8605
Epoch 34/60
250/250 [==============================] - 0s 689us/step - loss: 0.3419 - accuracy: 0.8604
Epoch 35/60
250/250 [==============================] - 0s 777us/step - loss: 0.3413 - accuracy: 0.8599
Epoch 36/60
250/250 [==============================] - 0s 729us/step - loss: 0.3413 - accuracy: 0.8619
Epoch 37/60
250/250 [==============================] - 0s 681us/step - loss: 0.3403 - accuracy: 0.8630
Epoch 38/60
250/250 [==============================] - 0s 693us/step - loss: 0.3404 - accuracy: 0.8625
Epoch 39/60
250/250 [==============================] - 0s 689us/step - loss: 0.3401 - accuracy: 0.8609
Epoch 40/60
250/250 [==============================] - 0s 685us/step - loss: 0.3399 - accuracy: 0.8618
Epoch 41/60
250/250 [==============================] - 0s 685us/step - loss: 0.3394 - accuracy: 0.8636
Epoch 42/60
250/250 [==============================] - 0s 677us/step - loss: 0.3393 - accuracy: 0.8618
Epoch 43/60
250/250 [==============================] - 0s 681us/step - loss: 0.3388 - accuracy: 0.8639
Epoch 44/60
250/250 [==============================] - 0s 709us/step - loss: 0.3382 - accuracy: 0.8621
Epoch 45/60
250/250 [==============================] - 0s 705us/step - loss: 0.3382 - accuracy: 0.8624
Epoch 46/60
250/250 [==============================] - 0s 681us/step - loss: 0.3376 - accuracy: 0.8640
Epoch 47/60
250/250 [==============================] - 0s 681us/step - loss: 0.3377 - accuracy: 0.8634
Epoch 48/60
250/250 [==============================] - 0s 697us/step - loss: 0.3371 - accuracy: 0.8635
Epoch 49/60
250/250 [==============================] - 0s 877us/step - loss: 0.3367 - accuracy: 0.8631
Epoch 50/60
250/250 [==============================] - 0s 813us/step - loss: 0.3369 - accuracy: 0.8622
Epoch 51/60
250/250 [==============================] - 0s 677us/step - loss: 0.3361 - accuracy: 0.8637
Epoch 52/60
250/250 [==============================] - 0s 697us/step - loss: 0.3364 - accuracy: 0.8639
Epoch 53/60
250/250 [==============================] - 0s 697us/step - loss: 0.3361 - accuracy: 0.8651
Epoch 54/60
250/250 [==============================] - 0s 677us/step - loss: 0.3359 - accuracy: 0.8651
Epoch 55/60
250/250 [==============================] - 0s 705us/step - loss: 0.3355 - accuracy: 0.8644
Epoch 56/60
250/250 [==============================] - 0s 693us/step - loss: 0.3353 - accuracy: 0.8650
Epoch 57/60
250/250 [==============================] - 0s 885us/step - loss: 0.3352 - accuracy: 0.8648
Epoch 58/60
250/250 [==============================] - 0s 749us/step - loss: 0.3348 - accuracy: 0.8661
Epoch 59/60
250/250 [==============================] - 0s 801us/step - loss: 0.3354 - accuracy: 0.8626
Epoch 60/60
250/250 [==============================] - 0s 729us/step - loss: 0.3351 - accuracy: 0.8646

# Part 4 - Making the predictions and evaluating the model

In [38]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]